<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.whichcoffeeapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.whichcoffeeapp.coffee.AddCoffee"/>
        <activity android:name="com.example.whichcoffeeapp.coffee.EditCoffee"/>
        <activity android:name="com.example.whichcoffeeapp.coffee.OpenCoffee"/>
        <activity android:name="com.example.whichcoffeeapp.jar.AddJar"/>
        <activity android:name="com.example.whichcoffeeapp.jar.EditJar"/>
        <activity android:name="com.example.whichcoffeeapp.review.AddReview"/>
        <activity android:name="com.example.whichcoffeeapp.review.EditReview"/>
        <activity android:name="com.example.whichcoffeeapp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>